# Node
node_modules/

# Build
/dist/
/docs/
!docs/.nojekyll

# System
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# Others
*.log

